*{
	margin:0;
	padding:0
}
.flow{overflow:hidden}
.itsd_soft_area{
    background: rgba(191, 209, 233, 0.43);
    height: 95px;
    border-bottom: 1px solid yellow;
	
}
.width{
	width:1170px;
	margin:auto
}
.itsd{}
.logo{
    margin-top: 16px;
    width: 300px;
    float: left;
    margin-right: 500px;
}
.logo_image{
    height: 71px;
    width: 72px;
    float: left;
    margin-right: 20px;
	margin-bottom: 10px;
}
.logo_image img{
    height: 71px;
    width: 72px;
}
.logo h2{
	color: #5eaa2f;
    margin-top: 20px;
}
.logo span{
	color: #1ca2c1;
	font-family: 'Baloo Bhaina', cursive;
}
.call_now{
    width: 235px;
    float: left;
    margin-top: 31px;
}
.call_now i{
    color: #549829;
    float: left;
    margin-right: 10px;
}
.call_now p{
    float: left;
    margin-right: 50px;
    color: #1ca2c1;
}
.call_now h4{
    color: #E91E63;
    font-size: 23px;
	margin-top: -7px;
}
.menu nav a:hover{
	color:gray
}
.menu nav a i:hover{
	color:red
}
.buy{
	height: 40px;
    width: 135px;
    background: #E91E63;
    border-radius: 4px;
	margin-top: 20px;
}
.buy p{
	float: left;
    margin-right: 25px;
}
.buy a{
	color: white;
    text-decoration: none;
}
.buy i{
    margin-right: 12px;
    font-size: 20px;
    color: #ffffff;
    margin-left: 21px;
    margin-top: 8px;
}
.background_color_area{
	width:100%;
	background:gray;
	height:400px
}
.menu_area{
	background: url(img/cover.jpg);
    background-size: 100%;
    height: 485px;
	background-position: center;

}
.menu{    margin-top: -12px;}
.coaching_software{}
.app_name{
	width: 335px;
    float: left;
    margin-right: 352px;
}
.app_name h2{
	color: white;
    font-size: 35px;
    margin-top: 42px;
}
.menu{}
.menu nav{}
.menu nav a{
	color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    float: left;
    padding: 10px;
    margin-top: 51px;
}
.menu nav a i{
	font-size: 30px;
    margin-top: -10px;
    margin-right: 8px;
}
.menu nav button{
	background: #1ca2c1;
    padding: 5px;
    border-color: #1ca2c1;
    color: white;
    margin-top: 56px;
}
.menu nav button i{}
.background{
    width: 341px;
    margin: auto;
    margin-top: 50px;
	

}
.background h2{
	    color: white;
    font-size: 14px;
}
.app_name p{color:white}
.get{
	width: 150px;
    float: left;
	margin-right: 38px;
	height: 50px;
}
.get button{
	padding: 8px 3px;
    background: #5eaa2f;
    border: 1px solid gray;
    margin-bottom: 302px;
    width: 140px;
}
.get button:hover{
		background: #65cf24;
}
.get button a{
	text-decoration: none;
    font-size: 13px;
    color: white;
	font-family: 'Roboto', sans-serif;

}
.get i{
	    margin-right: 8px;
}
.try{
	width: 150px;
	height: 50px;	

}
.try button{
    padding: 8px 3px;
    background: #ffffff;
    border: 1px solid #5eaa2f;
    margin-bottom: 302px;
    width: 140px;
}
.try button:hover{
	 background: #5eaa2f;
	 color:white
}
.try button a{
    text-decoration: none;
    font-size: 13px;
    color: green;
    font-family: 'Roboto', sans-serif;
}
.app_area{
	
}
.app{
    width: 654px;
    height: 313px;
    position: absolute;
    margin-left: 255px;
    margin-top: -245px;
    box-shadow: -1px 10px 10px rgba(128, 128, 132, 0.46);
    border-radius: 10px;
}
.app img{
	width: 654px;
    height: 313px;
    border-radius: 15px;
    box-shadow: 
}
.benefits_area{}
.benefits{
    margin-top: 141px;
}
.benefits h2{
	    text-align: center;
    font-size: 45px;
    color: #60ae30;
}
.benefits p{
    text-align: center;
    color: gray;
}
.features{
     margin-top: 31px;
    width: 515px;
    margin-left: 72px;
}
.features h3{
    color: #1ca2c1;
    margin-top: 88px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}
.features p{
	font-size: 14px;
    padding: 6px 45px;
	font-family: 'Roboto', sans-serif;
}
.left_img{
    width: 250px;
    float: left;
    margin-right: -36px;
    height: 213px;
}
.left_img img{
	width: 246px;
    height: 213px;
}
.read_more{
	width: 184px;
    float: right;
    margin-top: 3px;
    height: 30px;
}
.read_more a{
	color: #60ae30;
    font-size: 15px;
    text-decoration: none;
}
.features_two{
    width: 555px;
    float: right;
    margin-top: -103px;
    margin-right: 80px;
}
.left_one{
	width: 300px;
    margin-top: 109px;
    text-align: center;
}
.left_one h3{
	color: #1ca2c1;
    margin-top: 28px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}
.left_one p{
	font-size: 14px;
    padding: 6px 45px;
	font-family: 'Roboto', sans-serif;
}
.{}
.{}
.right_second{
    width: 300px;
    float: left;
    margin-right: 5px;
    margin-top: 88px;
    text-align: center;
}
.right_second h3{
	color: #1ca2c1;
    margin-top: 28px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}
.right_second p{
	font-size: 14px;
    padding: 6px 45px;
	font-family: 'Roboto', sans-serif;
}
.read_more_two{}
.read_more_two a{
	color: #60ae30;
    font-size: 15px;
    text-decoration: none;
}
.left_img_two{
	width: 250px;
	height: 213px;
}
.left_img_two img{
	width: 250px;
	height: 213px;
}
.buying_sms_area{
	    margin-top: 72px;
}
.buying{
	width:316px;
	float:left
}
.high{
	width: 300px;
    background: beige;
    text-align: center;
}
.high:hover{
    border: 5px solid #1ca2c1;
}
.high_one{
 border-bottom: 1px solid rgba(128, 128, 128, 0.36);
    box-shadow: 10px 10px 10px rgba(203, 199, 199,128);
 
}
.buying h2{
	text-align:center;
	color:blue;
	font-size:50px
}
.sms_control h2{
font-size: 40px;
    color: gray;
    margin-top: 1px;
    margin-bottom: 13px;
    text-align: center;
}
.doller{
	height: 220px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.39);
    box-shadow: 10px 10px 10px rgb(206, 203, 201);
    margin-bottom: 26px;
}
.doller h3{
	font-size: 90px;
    color: #60ad2f;
    margin-top: 36px;
    margin-bottom: 13px;
}
.doller p{
    color: gray;
    margin-bottom: 10px;
}
.list{}
.list nav{}
.list nav a{
    display: block;
    color:gray;
    border-bottom: 1px solid rgba(128, 128, 128, 0.24);
    padding: 9px 10px;
    text-decoration: none;
}
.list nav a:hover{

}
.read_more_one{
	height: 38px;
    width: 128px;
    text-align: center;
    background: #1ca2c1;
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 85px;
    margin-bottom: 22px;
}
.read_more_one a{
	color: white;
    text-decoration: none;
    display: block;
    margin-top: 9px;
}
.sms_control{
    width: 948px;
    margin: auto;
}
.list:hover{
background:#60ad2f;}
.contact_area{}
.contact{
	margin: auto;
    width: 954px;
    margin-top: 75px;
}
.form{
    width: 472px;
    float: left;
}
.form form{}
.text{
	height: 42px;
    width: 381px;
    margin-top: 15px;
    border-radius: 5px;
    padding: 5px 25px;
}
.massage{}
.massage form{
	margin-top: 16px;
}
.massage form textarea{
height: 163px;
    width: 441px;
    border-radius: 5px;
    padding: 16px;
}
.submit{
	padding: 10px 13px;
    background: rgb(96, 173, 47);
    border-radius: 4px;
    color: white;
    margin-left: 382px;
    margin-top: 16px;
	margin-bottom:20px
}
.contact h2{
    color: #60ad2f;
    font-size: 40px;
    text-align: center;
}
.contact p{
    color: #1ca2c1;
    text-align: center;
	margin-bottom: 15px;
}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}